# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env/

# Torch / model cache
*.pt
*.pth
*.pkl

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Generated figures/results
results/
figs/
